extends ./layout

block content
  p We received a request to reset your password.
  p Click the link below to choose a new password:
  p: a(href=resetUrl)= resetUrl
  p This link expires in 1 hour. If you did not request this, you can ignore this email — your password will not change.
